/* NAVIGATION */

/* navigaton links */
.nav_section {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: white;
  font-size: 16px;
  box-shadow: 0px 0px 10px #00000044;
  font-family: "Brandon Text Regular";
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav_section nav {
  width: 44.2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Brandon Text Medium";
  margin-left: 172px;
  margin-top: 6px;
}

.nav_section nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
}

.nav_section nav a:hover {
  filter: invert(75%) sepia(0%) saturate(0%) hue-rotate(243deg) brightness(63%)
    contrast(86%);
}

.nav_section nav a img {
  width: 100%;
  height: 25px;
}

/* right section */
.nav_section .right_section {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 14px;
}

.nav_section .right_section a:first-child {
  color: #333;
}

.nav_section .right_section a:first-child::before {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 10px;
  background-color: #0fd1ff;
  position: relative;
  bottom: 4px;
  right: 5px;
}

/* login button */
.nav_section .right_section > div {
  display: flex;
  align-items: center;
  gap: 13px;
}

/* login icon */
.nav_section .right_section > div img {
  height: 16px;
}

/* login text */
.nav_section .right_section > div a {
  margin-top: 3px;
}

/* city */
.nav_section .right_section a {
  display: flex;
  align-items: center;
  margin-top: 2px;
}

/* cart */
.nav_section .right_section a img {
  margin-top: 2px;
}

/* For 1000px and lower */
@media only screen and (max-width: 1000px) {
  /* NAVBAR */
  /* login button */
  .nav_section .right_section > div {
    display: none;
  }
}

/* For 768px and lower */
@media only screen and (max-width: 768px) {
  /* NAVBAR */
  .nav_section {
    display: none;
  }
}
