/* Variables */
:root {
  --primary-color: #00abe9;
  --secondary-color: #ff3278;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Brandon Text";
  width: 100%;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1236px;
  margin: auto;
  padding: 0px 16px;
}

/* HERO SECTION */
.hero_section {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: calc(80px + 64px);
}

/* left section */
.hero_section .left_section {
  width: 31.7%;
  margin-top: -8px;
}
.hero_section h2 {
  font-size: 50px;
  max-width: 260px;
  color: #333;
}

.hero_section h2 span {
  color: var(--primary-color);
}

.hero_section p {
  color: #6e6d6d;
  font-size: 18px;
  line-height: 40px;
  margin-top: 20px;
  font-family: "Brandon Text Bold";
}

.title_anim {
  display: inline-block;
  transform: translateY(-40px);
  animation: slidedown 3.5s infinite;
}

.love {
  animation: slidedown 3.5s infinite;
}
/* right section */
.hero_section .right_section * {
  border-radius: 10px;
  width: 100%;
}

/* BANNER SECTION */
.banner_section {
  margin-top: 98px;
}

.banner_section img {
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  object-fit: contain;
}

/* BANNER SECTION */
.banner_section {
  margin-top: 98px;
}

.banner_section img {
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  object-fit: contain;
}

/* CULT SECTION */

.home_card_section {
  margin-top: 90px;
}

.home_card_section .top_section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
}

.home_card_section .top_section > img {
  height: 50px;
  font-family: "Brandon Text Bold";
  color: #333;
}
.home_card_section .top_section > p {
  font-size: 14.1px;
  font-family: "Brandon Text Regular";
  color: #6c6c6c;
  line-height: 27px;
}

.home_card_section .top_section .sub_heading_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.home_card_section .top_section .sub_heading_section a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #4c4c4c;
  font-family: "Brandon Text Bold";
  font-size: 18px;
}

.home_card_section .top_section .sub_heading_section a:hover {
  filter: brightness(1.8);
}

.home_card_section .top_section .sub_heading_section img {
  width: 10px;
  transform: rotate(180deg);
}

.home_card_section .top_section .subheading {
  color: #4c4c4c;
  font-size: 20px;
}

/* Slider section */

.cards {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  width: 100%;
  height: 470px;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 45px;
}

.card {
  padding: 40px;
  overflow: hidden;
  color: white;
}

.cards > div h3 {
  position: relative;
  font-size: 18px;
}

.cards > div .content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: 0;
  transform: translateX(200px);
  transition: all 0.3s ease;
  position: absolute;
  width: 290px;
  margin-top: 20px;
  gap: 20px;
  align-items: flex-start;
}

.cards > .card1 .content {
  opacity: 1;
  transform: translateX(0px);
}

.cards > div .content p {
  font-family: "Brandon Text Regular";
  font-size: 14px;
  line-height: 30px;
}

.button_style1 {
  color: white;
  background-color: transparent;
  border: 1.5px solid white;
  padding: 6px 10px;
  border-radius: 40px;
  text-transform: uppercase;
  font-family: "Brandon Text Bold";
  cursor: pointer;
  transition: all 0.3s ease;
}

.button_style1:hover {
  transform: translateY(-4px);
}

.cards > div:hover {
  cursor: pointer;
}

.cards img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 616px;
  object-fit: cover;
  object-position: 80% 0;
}

.card1 {
  position: relative;
  animation: slideup 0.3s ease forwards;
  top: 470px;
}

.card2 {
  position: relative;
  animation: slideup 0.3s ease 0.1s forwards;
  top: 470px;
}

.card3 {
  position: relative;
  animation: slideup 0.3s ease 0.22s forwards;
  top: 470px;
}

/* GET THE CULT SECTION */
.get_the_app_section {
  background: linear-gradient(to right, #6f69aa, #378ac5);
  color: white;
  margin-top: 70px;
}

.get_the_app_section .container {
  display: flex;
  height: 600px;
  align-items: center;
  padding: 0px 110px;
}

.get_the_app_section .container .left_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1.428;
}

.get_the_app_section .container .left_section h3 {
  font-size: 36px;
}

.get_the_app_section .container .left_section p {
  font-size: 19px;
}

.get_the_app_section .container .left_section div {
  display: flex;
  gap: 2vw;
}
.get_the_app_section .container .left_section div img {
  height: 2.5vw;
}

.get_the_app_section .container .right_section img {
  height: 340px;
  position: relative;
  left: 50px;
  top: -50px;
}

/* CULT BUSINESS SECTION */
.cult_business_section {
  height: 36.2vw;
}

.cult_business_section img {
  width: 100%;
  object-fit: cover;
}

/* CULT CAREER SECTION */
.cult_career_section {
  height: 35.5vw;
}

.cult_career_section img {
  width: 100%;
  object-fit: cover;
}

/* BE BETTER SECTION */

.be_better_section .container {
  height: 305px;
  display: flex;
  align-items: center;
  max-width: 1236px;
}

.be_better_section h2 {
  width: 70%;
  font-size: 100px;
  letter-spacing: -0.6px;
  color: #6e6e6e;
  text-transform: uppercase;
  line-height: 100px;
  margin-top: 20px;
}

.be_better_section h2 span {
  color: #b2b2b2;
  font-size: 80px;
}

/* Footer */
footer {
  background-color: black;
  color: white;
}
footer .container {
  max-width: 1284px;
}

footer a {
  color: white;
}

footer .top_section {
  display: grid;
  grid-template-columns: 2.3fr 1fr 1.3fr 1.2fr;
  gap: 40px;
  text-align: right;
  padding: 50px 0px;
  margin: 0px 15px;
  color: white;
}

footer .top_section .logo_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  gap: 20px;
  font-family: "Brandon Text Regular";
  font-size: 14px;
  color: #a2a2a2;
}
footer .top_section .logo_section img {
  height: 40px;
}

footer .top_section .about_links a,
footer .top_section .business_links a {
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Brandon Text Thin";
}

footer .top_section .about_links ul,
footer .top_section .business_links ul {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.94;
}

footer .top_section .download_app {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .top_section .download_app img {
  height: 42px;
}

footer .top_section > div {
  display: flex;
  flex-direction: column;
}

/* Related searches */
.related_searches_section {
  padding: 32px;
  background-color: #111213;
  padding-bottom: 50px;
}

.related_searches_section .search_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  margin-top: 20px;
}

.related_searches_section .search_list a {
  font-size: 14px;
  line-height: 1.428;
  color: #a2a2a2;
  font-family: "Brandon Text Regular";
}

.related_searches_section h4 {
  font-size: 14px;
  font-family: "Brandon Text Regular";
  color: #a2a2a2;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 2px;
  border-bottom: 1px solid #6a6a6a;
}

/* footer bottom */
footer .bottom {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

footer .bottom .links {
  display: flex;
  gap: 20px;
}

footer .bottom .links a {
  font-size: 12px;
  color: #a2a2a2;
  font-family: "Brandon Text Regular";
}

footer .social_icons {
  display: flex;
  gap: 20px;
}
footer .social_icons img {
  height: 12px;
  filter: invert(0.5);
}

footer .social_icons a:hover {
  height: 12px;
  filter: brightness(100);
}

@keyframes slideup {
  100% {
    top: 0px;
  }
}

@keyframes slidedown {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  30% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
